<div class="container">
  <!-- book-list component -->
  <div class="card mb-3">
    <div class="card-header text-center">
      <h1>{{title}}</h1>
    </div>

    <input type="text" class="form-control" id="search"
           placeholder="Skriv titel, författare, år etc."
           [(ngModel)]="selectedTitle" (input)="onSearchChange($event.target.value)">

    <button class="list-group-item text-center list-group-item-action"
            *ngFor="let book of books"
            [ngClass]="{'active': isBookSelected(book)}"
            (click)="onBookSelected(book)">
      {{ book.volumeInfo.title }}
    </button>
  </div>

  <div *ngIf="selectedBook" class="row">
    <div class="col-md-8">
      <h3>Titel</h3>
      <h4 id="bookTitle">{{selectedBook.volumeInfo.title}}</h4>

      <h3>Sammanfattning</h3>
      <div *ngIf="selectedBook.volumeInfo.description; then description else nodescription"></div>
      <ng-template #description><p>{{selectedBook.volumeInfo.description}}</p></ng-template>
      <ng-template #nodescription><p>Din sökning gav inga träffar. Försök igen.</p></ng-template>
    </div>

    <div class="col-md-4">
      <h3>-Författare</h3>
      <p *ngFor="let author of selectedBook.volumeInfo.authors">{{author}}</p>

      <a href="{{selectedBook.volumeInfo.imageLinks.thumbnail}}">
        <img class="img-responsive" src="{{selectedBook.volumeInfo.imageLinks.thumbnail}}"/>
      </a>

      <button id="addToCart" class="btn btn-info btn-lg" (click)="onBookAddedToCart()">Till kassan</button>
    </div>
  </div>

  <div *ngIf="savedBooks.length > 0">
    <h2>Kontrollera din beställning</h2>
    <div class="savedbook" *ngFor="let savedBook of savedBooks">
      <button type="button" class="btn btn-default btn-sm"
              (click)="onSavedBookDeleted(savedBook)">
        <span class="glyphicon glyphicon-trash"></span> Ta bort
      </button>
      <button class="btn savedbooktitle" (click)="onBookSelected(savedBook)">
        {{savedBook.volumeInfo.title}}
      </button>
    </div>
    <button class="btn btn-danger btn-lg" (click)="onClearSavedBooks()">Avbryt</button>
  </div>
</div>
